*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#nav a{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: medium;
    font-size: 20px;
}

#nav{
    margin: 10px 20px;
    padding: 10px 60px;
}

#main>h1{
    font-size: 350px;
    font-weight: 100;
    padding-left: 35px;
}

#bottomleft{
    position: absolute;
    left: 60px;
    width: 20%;
}

#bottomleft h4{
    margin-top: 20px;
    font-size: 20px;
}
#bottomleft h3{

    font-size: 20px;
}

#bottomnav h1{
    position: absolute;
    bottom: 25px;
    left: 60px;
    font-size: 20px;
}

#bottomnav a{
    position: absolute;
    bottom: 30px;
    right: 50px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#main img{
    position: absolute;
    
}

#first{
    right: 420px;
    top: 300px;
    height: 300px;
}
#second{
    left: 770px;
    height: 250px;
}
#third{
    bottom: 35px;
    left: 580px;
    height: 300px;
}