*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background: #000;
    background-image: url(https://images.unsplash.com/photo-1454117096348-e4abbeba002c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGdyZXklMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    height: 250px;
    width: 250px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
     
}

.bottom{
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: -100px;
    background: linear-gradient(transparent,rgba(0,0,0,0.8));
    transition: all 1s ease;
}

.card:hover .bottom{
    bottom: 0;
    
}

.bottom h4{
    text-align: center;
}
.bottom p{
    text-align: center;
    font-weight: 700;
}